* {
    padding: 0;
    margin: 0;
}

.main_container #img {
    position: relative;
    top: 0;
    bottom: 0;
}


#button_close {
    position: absolute;
    left: 17px;
    top: 15px;
    border: none;
    background-color: transparent;
}

#botton_setting {
    position: absolute;
    left: 294px;
    top: 514px;
    border: none;
    background-color: transparent;
}

#botton_item {
    position: absolute;
    left: 294px;
    top: 579px;
    border: none;
    background-color: transparent;
}

.modal_black_bg {
    display: none;
    position: absolute;
    content: "";
    width: 360px;
    height: 640px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 1;
}

.modal_wrap_item {
    display: none;
    width: 328px;
    height: 600px;
    position: absolute;
    top: 20px;
    left: 16px;
    margin: 0;
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;
}

.botton_close_item {
    position: absolute;
    left: 294px;
    top: 18px;
    padding: 0;
}

.item_menu_all {
    position: absolute; 
    left: 170px; 
    top: 49px; 
    padding: 0px;
}

.item_menu_tree {
    position: absolute;
    left: 215px; 
    top: 49px; 
    padding: 0px;
}

.item_menu_flower {
    position: absolute; 
    left: 260px; 
    top: 49px; 
    padding: 0px;
}

.item_scroll_container {
    overflow-y: scroll;
    position: absolute; 
    left: 12px;
    top: 75px;
    width: 304px;
    height: 508px;
    padding: 0px;
    border-radius: 10px;
    background-color: #f4f4f4;  
}

body { 
    -ms-overflow-style: none; 
}
::-webkit-scrollbar {
     display: none; 
}
.item_scroll_container { 
    -ms-overflow-style: none;
}
.item_scroll_container::-webkit-scrollbar {
    display:none;
}
